# Using functions to clean data 
being able to use functions on dataframes will be important for large scale data cleaning

In [52]:
#we will need the same imports 
import pandas as pd 
import matplotlib.pyplot as plt

In [53]:
df = pd.read_csv(r'data/Apple 2009-2024.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          16 non-null     int64
 1   EBITDA (millions)             16 non-null     object
 2   Revenue (millions)            16 non-null     object
 3   Gross Profit (millions)       16 non-null     object
 4   Op Income (millions)          16 non-null     object
 5   Net Income (millions)         16 non-null     object
 6   EPS                           16 non-null     object
 7   Shares Outstanding            16 non-null     object
 8   Year Close Price              16 non-null     float64
 9   Total Assets (millions)       16 non-null     object
 10  Cash on Hand (millions)       16 non-null     object
 11  Long Term Debt (millions)     16 non-null     object
 12  Total Liabilities (millions)  16 non-null     object
 13  Gross Margin                  16 non-null     object
 14  PE ratio                      16 non-null     float64
 15  Employees                     16 non-null     object
dtypes: float64(2), int64(1), object(13)
memory usage: 2.1+ KB

In [54]:
#in the change type notebook we observed that many of the data types are objects and they are all
#populated with "$" and "," instead of running the same commands over and over we can use a function to 
# make the data cleaning proccess go faster 

# first lets define a function 
# this function replaces all of the $ and , with empty strings 
# and then we are able to convert the data into a int 
#turning the data into an int will make it easier to work with later 
def colToInt(df,colName):
    df[colName] = df[colName].replace({'\$':'',',':'','%':''},regex = True)
    df[colName] = df[colName].astype(int)
    return df

<>:10: SyntaxWarning: invalid escape sequence '\$'
<>:10: SyntaxWarning: invalid escape sequence '\$'
C:\Users\eyas1\AppData\Local\Temp\ipykernel_30692\2840190169.py:10: SyntaxWarning: invalid escape sequence '\$'
  df[colName] = df[colName].replace({'\$':'',',':'','%':''},regex = True)

In [55]:
#lets call the function 
colToInt(df=clean_df, colName='Long Term Debt (millions)')

#then lets run the output here to see if we did the right stuff
clean_df['Long Term Debt (millions)']

0      85750
1      95281
2      98959
3     109106
4      98667
5      91807
6      93735
7      97207
8      75427
9      53329
10     28987
11     16960
12         0
13         0
14         0
15         0
Name: Long Term Debt (millions), dtype: int64

In [64]:
#lets clean some more col's to see if the function actually works 
# first lets look at the stata of our df 
clean_df.head

<bound method NDFrame.head of     year  EBITDA (millions)  Revenue (millions)  Gross Profit (millions)  \
0   2024             134661              391035                   180683
1   2023             125820              383285                   169148
2   2022             130541              394328                   170782
3   2021             120233              365817                   152836
4   2020              77344              274515                   104956
5   2019              76477              260174                    98392
6   2018              81801              265595                   101839
7   2017              71501              229234                    88186
8   2016              70529              215639                    84263
9   2015              82487              233715                    93626
10  2014              60449              182795                    70537
11  2013              55756              170910                    64304
12  2012              58518              156508                    68662
13  2011              35604              108249                    43818
14  2010              19412               65225                    25684
15  2009              12474               42905                    17222

    Op Income (millions)  Net Income (millions)   EPS  Shares Outstanding  \
0                 123216                  93736  6.08               15408
1                 114301                  96995  6.13               15813
2                 119437                  99803  6.11               16326
3                 108949                  94680  5.61               16865
4                  66288                  57411  3.28               17528
5                  63930                  55256  2.97               18596
6                  70898                  59531  2.98               20000
7                  61344                  48351  2.30               21007
8                  60024                  45687  2.08               22001
9                  71230                  53394  2.31               23172
10                 52503                  39510  1.61               24491
11                 48999                  37037  1.42               26087
12                 55241                  41733  1.58               26470
13                 33790                  25922  0.99               26226
14                 18385                  14013  0.54               25892
15                 11740                   8235  0.32               25396

    Year Close Price  Total Assets (millions)  Cash on Hand (millions)  \
0           243.0400                   364980                    65171
1           191.5919                   352583                    61555
2           128.5816                   352755                    48304
3           174.7132                   351002                    62639
4           129.7556                   323888                    90943
5            71.1734                   338516                   100557
6            37.6645                   365725                    66301
7            39.8109                   375319                    74181
8            26.8131                   321686                    67155
9            23.8379                   290345                    41601
10           24.5797                   231839                    25077
11           17.4799                   207000                    40546
12           16.1760                   176064                    29129
13           12.2002                   116371                    25952
14            9.7168                    75183                    25620
15            6.3481                    47501                    23464

    Long Term Debt (millions)  Total Liabilities (millions)  Gross Margin  \
0                       85750                        308030         46.21
1                       95281                        290437         45.03
2                       98959                        302083         43.06
3                      109106                        287912         43.02
4                       98667                        258549         38.78
5                       91807                        248028         37.95
6                       93735                        258578         38.21
7                       97207                        241272         38.43
8                       75427                        193437         38.52
9                       53329                        170990         40.13
10                      28987                        120292         39.26
11                      16960                         83451         37.41
12                          0                         57854         41.91
13                          0                         39756         42.41
14                          0                         27392         38.76
15                          0                         15861         40.95

    PE ratio  Employees
0      39.97     164000
1      29.84     161000
2      21.83     164000
3      28.93     154000
4      35.14     147000
5      22.49     137000
6      12.39     132000
7      16.37     123000
8      12.84     116000
9      10.12     110000
10     13.25      97000
11     12.14      84400
12     10.27      76100
13      9.73      63300
14     15.19      49400
15     20.52      36800  >

In [57]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          16 non-null     int64
 1   EBITDA (millions)             16 non-null     int64
 2   Revenue (millions)            16 non-null     int64
 3   Gross Profit (millions)       16 non-null     int64
 4   Op Income (millions)          16 non-null     int64
 5   Net Income (millions)         16 non-null     int64
 6   EPS                           16 non-null     object
 7   Shares Outstanding            16 non-null     object
 8   Year Close Price              16 non-null     float64
 9   Total Assets (millions)       16 non-null     object
 10  Cash on Hand (millions)       16 non-null     object
 11  Long Term Debt (millions)     16 non-null     int64
 12  Total Liabilities (millions)  16 non-null     object
 13  Gross Margin                  16 non-null     object
 14  PE ratio                      16 non-null     float64
 15  Employees                     16 non-null     object
dtypes: float64(2), int64(7), object(7)
memory usage: 2.1+ KB

In [62]:
# we can see that our method works because we now see that the longterm debt varable is now an int
# now we can do it with the other col's 

# a fast way to clean all of this data is t0 use a for loop to go through each col and clean it 
intsNeeded = ['EBITDA (millions)','Revenue (millions)','Gross Profit (millions)','Op Income (millions)',
'Net Income (millions)','Shares Outstanding','Total Assets (millions)','Cash on Hand (millions)',
'Total Liabilities (millions)','Employees']

#we can run our function on the array to clean the entire dataset without calling 
#the function a billion times 
for cols in intsNeeded:
    colToInt(clean_df,cols)

clean_df['EPS'] = clean_df['EPS'].astype(float)
clean_df['Gross Margin'] = clean_df['Gross Margin'].astype(float)

In [63]:
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 16 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   year                          16 non-null     int64
 1   EBITDA (millions)             16 non-null     int64
 2   Revenue (millions)            16 non-null     int64
 3   Gross Profit (millions)       16 non-null     int64
 4   Op Income (millions)          16 non-null     int64
 5   Net Income (millions)         16 non-null     int64
 6   EPS                           16 non-null     float64
 7   Shares Outstanding            16 non-null     int64
 8   Year Close Price              16 non-null     float64
 9   Total Assets (millions)       16 non-null     int64
 10  Cash on Hand (millions)       16 non-null     int64
 11  Long Term Debt (millions)     16 non-null     int64
 12  Total Liabilities (millions)  16 non-null     int64
 13  Gross Margin                  16 non-null     float64
 14  PE ratio                      16 non-null     float64
 15  Employees                     16 non-null     int64
dtypes: float64(4), int64(12)
memory usage: 2.1 KB